*.sql linguist-detectable=true
*.sql linguist-language=sql
*.md linguist-detectable=true
*.md linguist-language=markdown
*.sh linguist-detectable=true
*.sh linguist-language=shell
*.yml linguist-detectable=true
*.yml linguist-language=yaml
*.json linguist-detectable=true
*.json linguist-language=json

